@{
    ViewData["Title"] = "Giỏ hàng";
}
<link href="~/css/style.css" rel="stylesheet" />
<body>
    <div class="page">
        <table class="">
            <tr>
                <th>STT</th>
                <th>Tên sản phẩm</th>
                <th>Số lượng</th>
                <th>Đơn giá</th>
                <th>Thành tiền</th>
            </tr>
            <tr>
                <td>1</td>
                <td>Điện thoại Iphone 16 Promax</td>
                <td>1</td>
                <td>24000000</td>
                <td>24000000</td>
            </tr>
            <tr>
                <td>1</td>
                <td>Điện thoại Iphone 16 Promax</td>
                <td>1</td>
                <td>24000000</td>
                <td>24000000</td>
            </tr>
            <tr>
                <td>1</td>
                <td>Điện thoại Iphone 16 Promax</td>
                <td>1</td>
                <td>24000000</td>
                <td>24000000</td>
            </tr>
            <tr>
                <td>1</td>
                <td>Điện thoại Iphone 16 Promax</td>
                <td>1</td>
                <td>24000000</td>
                <td>24000000</td>
            </tr>
            <tr>
                <td>1</td>
                <td>Điện thoại Iphone 16 Promax</td>
                <td>1</td>
                <td>24000000</td>
                <td>24000000</td>
            </tr>
        </table>
        <table class="">
            <tr>
                <th>STT</th>
                <th>Tên sản phẩm</th>
                <th>Số lượng</th>
                <th>Đơn giá</th>
                <th>Thành tiền</th>
            </tr>
            <tr>
                <td>1</td>
                <td>Điện thoại Iphone 16 Promax</td>
                <td>1</td>
                <td>24000000</td>
                <td>24000000</td>
            </tr>
            <tr>
                <td>1</td>
                <td>Điện thoại Iphone 16 Promax</td>
                <td>1</td>
                <td>24000000</td>
                <td>24000000</td>
            </tr>
            <tr>
                <td>1</td>
                <td>Điện thoại Iphone 16 Promax</td>
                <td>1</td>
                <td>24000000</td>
                <td>24000000</td>
            </tr>
            <tr>
                <td>1</td>
                <td>Điện thoại Iphone 16 Promax</td>
                <td>1</td>
                <td>24000000</td>
                <td>24000000</td>
            </tr>
            <tr>
                <td>1</td>
                <td>Điện thoại Iphone 16 Promax</td>
                <td>1</td>
                <td>24000000</td>
                <td>24000000</td>
            </tr>
        </table>
    </div>
</body>
